{% extends "base_generic.html" %}
{% block title %}Please select{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}


  <ul class="nav nav-tabs">
    <li class="active"><a href="">Test-1</a></li>
    <li><a href="{{ url_for('test2') }}">Test-2</a></li>
    <li><a href="{{ url_for('test3') }}">Test-3</a></li>
    <li><a href="{{ url_for('test4') }}">Test-4</a></li>
  </ul>




  <div class="container-fluid">

    <div style="padding-top: 30px;"></div>

    {% if message_text %}
      {% if message_success %}
        <div class="alert alert-success" role="alert">
          <strong>Success!</strong>{{ message_text }}
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          <strong>Error!</strong>{{ message_text }}
        </div>
      {% endif %}
    {% endif %}

    <div style="padding-top: 10px;"></div>

    <form class="form-horizontal" id="form1" action="/chu/test1" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="folder" class="col-sm-2 control-label">Folder</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="folder" name="folder" value="{{ entered_folder }}" placeholder="Working folder">
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group">
        <label for="card1" class="col-sm-2 control-label">Card-1</label>
        <div class="col-sm-8">
          <select id="card1" name="card1" class="form-control">
            {% for card1 in cards1 %}
              <option value="{{card1}}" {% if card1 == entered_card1 %} selected {% endif %}>{{card1}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group">
        <label for="card2" class="col-sm-2 control-label">Card-2</label>
        <div class="col-sm-8">
          <select id="card2" name="card2" class="form-control">
            {% for card2 in cards2 %}
              <option value="{{card2}}" {% if card2 == entered_card2 %} selected {% endif %}>{{card2}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group">
        <label for="freq" class="col-sm-2 control-label">Frequency</label>
        <div class="col-sm-8">
          <div class="input-group">
          <input type="text" class="form-control" id="freq" name="freq" value="{{entered_frequency}}" placeholder="Nominal frequency MHz">
          <span class="input-group-addon">MHz</span>
            </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group"></div>
      <hr class="style1">

      <div class="form-group">
        <label class="col-sm-2 control-label">Selected folder</label>
        <div class="col-sm-8">
          <p class="form-control-static">{{ entered_folder }}</p>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Card-1</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ entered_card1 }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Card-2</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ entered_card2 }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Number of DUTs</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ duts_number }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Frequency</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ entered_frequency }} {% if entered_frequency %} MHz {% endif %}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Config file</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ config_file }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Script file</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ script_file }}</p>
        </div>
      </div>

      <hr class="style1">

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Prepare Test-1</button>
        </div>
      </div>
    </form>

<!--    <div class="alert alert-success" role="alert">-->
<!--      <strong>Success!</strong> Now you can start Test-1-->
<!--    </div>-->

  </div>


{% endblock %}


