{% extends "base_generic.html" %}
{% block title %}Please select{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}


  <ul class="nav nav-tabs">
    <li><a href="{{ url_for('test1') }}">Test-1-SETUP</a></li>
    <li><a href="{{ url_for('test1_result') }}">Test-1-RESULT</a></li>
    <li><a href="{{ url_for('test2') }}">Test-2-SETUP</a></li>
    <li><a href="{{ url_for('test2_result') }}">Test-2-RESULT</a></li>
    <li><a href="{{ url_for('test3') }}">Test-3-SETUP</a></li>
    <li><a href="{{ url_for('test3_result') }}">Test-3-RESULT</a></li>
    <li class="active"><a href="{{ url_for('test4') }}">Test-4-SETUP</a></li>
    <li><a href="{{ url_for('test4_result') }}">Test-4-RESULT</a></li>
  </ul>




  <div class="container-fluid">

    <div style="padding-top: 30px;"></div>

    {% if message_text %}
      {% if message_success %}
        <div class="alert alert-success" role="alert">
          <strong>Success!</strong>{{ message_text }}
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          <strong>Error!</strong>{{ message_text }}
        </div>
      {% endif %}
    {% endif %}

    <div style="padding-top: 10px;"></div>

    <form class="form-horizontal" id="form1" action="/chu/test4" method="GET" enctype="multipart/form-data">

      <div class="form-group">
        <label for="folder" class="col-sm-1 control-label">Folder</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="folder" name="folder" value="{{ entered_folder }}" placeholder="Working folder">
        </div>

        <div class="col-sm-1">
          <button type="submit" class='btn btn-success'>Re-Check</button>
        </div>

        <label for="freq" class="col-sm-1 control-label">Frequency</label>
        <div class="col-sm-2">
          <div class="input-group">
          <input type="text" class="form-control" id="freq" name="freq" value="{{ freq }}" placeholder="Nominal frequency MHz" disabled>
          <span class="input-group-addon">MHz</span>
            </div>
        </div>

        <div class="col-sm-1"></div>

      </div>

    </form>


      <form class="form-horizontal" id="form2" action="/chu/test4" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="card11" class="col-sm-1 control-label">Card-1</label>
        <div class="col-sm-9">
          {% for card11 in cards11 %}
            <label class="checkbox-inline {% if card11 not in card11_available %} text-muted disabled {% endif %}"><input type="checkbox" class="card11" name="card11" value="{{ card11 }}" {% if cards11[card11] %} checked {% endif %} {% if card11 not in card11_available %} disabled {% endif %}>{% if card11 < 10 %}0{% endif %}{{ card11 }}</label>
          {% endfor %}

        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-default btn-sm card11-uncheck pull-right" aria-label="Left Align" disabled>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm card11-check pull-right" aria-label="Left Align" disabled>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
          </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group">
        <label for="card12" class="col-sm-1 control-label"></label>
        <div class="col-sm-9">
          {% for card12 in cards12 %}
            <label class="checkbox-inline {% if card12 not in card12_available %} text-muted disabled {% endif %}"><input type="checkbox" class="card12" name="card12" value="{{ card12 }}" {% if cards12[card12] %} checked {% endif %} {% if card12 not in card12_available %} disabled {% endif %}>{{ card12 }}</label>
          {% endfor %}
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-default btn-sm card12-uncheck pull-right" aria-label="Left Align" disabled>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm card12-check pull-right" aria-label="Left Align" disabled>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-sm-1"></div>
      </div>


      <div class="form-group">
        <label for="card21" class="col-sm-1 control-label">Card-2</label>
        <div class="col-sm-9">
          {% for card21 in cards21 %}
            <label class="checkbox-inline {% if card21 not in card21_available %} text-muted disabled {% endif %}"><input type="checkbox" class="card21" name="card21" value="{{ card21 }}" {% if cards21[card21] %} checked {% endif %} {% if card21 not in card21_available %} disabled {% endif %}>{% if card21 < 10 %}0{% endif %}{{ card21 }}</label>
          {% endfor %}
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-default btn-sm card21-uncheck pull-right" aria-label="Left Align" disabled>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm card21-check pull-right" aria-label="Left Align" disabled>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group">
        <label for="card22" class="col-sm-1 control-label"></label>
        <div class="col-sm-9">
          {% for card22 in cards22 %}
            <label class="checkbox-inline {% if card22 not in card22_available %} text-muted disabled {% endif %}"><input class="card22" type="checkbox" name="card22" value="{{ card22 }}" {% if cards22[card22] %} checked {% endif %} {% if card22 not in card22_available %} disabled {% endif %}>{{ card22 }}</label>
          {% endfor %}
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-default btn-sm card22-uncheck pull-right" aria-label="Left Align" disabled>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm card22-check pull-right" aria-label="Left Align" disabled>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group">
        <label for="folder" class="col-sm-1 control-label">Temp max</label>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="temp_max" name="temp_max" value="{{ entered_temp_max }}" placeholder="Temp max">
        </div>
        <label for="folder" class="col-sm-1 control-label">Temp min</label>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="temp_min" name="temp_min" value="{{ entered_temp_min }}" placeholder="Temp min">
        </div>
        <label for="folder" class="col-sm-1 control-label">Step</label>
        <div class="col-sm-1">
          <input type="text" class="form-control" id="step" name="step" value="{{ entered_step }}" placeholder="Step">
        </div>
        <div class="col-sm-5"></div>

      </div>


      <div class="form-group"></div>
      <hr class="style1">

      <div class="form-group">
        <label class="col-sm-2 control-label">Selected folder</label>
        <div class="col-sm-8">
          <p class="form-control-static">{{ entered_folder }}</p>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Input file</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ input_file }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Card-1</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ entered_card1 }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Card-2</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ entered_card2 }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Number of DUTs</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ duts_number }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Temperature</label>
        <div class="col-sm-10">
          <p class="form-control-static">{% if entered_temp_max and message_success %} from {{ entered_temp_max }} to {{ entered_temp_min }} with step {{ entered_step }} {% endif %}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Config file</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ config_file }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Script file</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ script_file }}</p>
        </div>
      </div>

      <hr class="style1">

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">Prepare Test-4</button>
        </div>
      </div>
    </form>


  </div>


{% endblock %}


